{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./assets/css/tailwind.css",
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore"
}
